/* WORKING */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@media only screen and (min-width: 1024px) {
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary-color: #48ceff;
    --secondary-color: #17181C; 
    --font-color: #FFFFFF;
    --dark-font: #000;
}

body {
    background-color: #1a1a1a !important;
    color: #fff;
}
.main-container {
   width:100%;
		min-height:1400px;
		margin-bottom:50px;
		background-color:#1a1a1a;
}

footer {
   position:fixed;
		bottom:0;
		left:0;
      width: 100%;
		height:50px;
		z-index:-1;
		background-color:#000;
 }
 .copyright {
   margin-top: 13px;
 }


.page-header {
   height: 135px;
   background-color: #1f1f1f !important;
}
.page-content {
  height:630px;
  padding: 5px 8px;
  background-color: #fff;
}

.blocked-page {
   display: none;
}
.blocked-footer {
   display: none;
}


.right {
   float: right !important;
   margin-top: -40px;
   margin-right: 25px;
}

.behind {
   font-family: 'Londrina Outline', cursive;
   letter-spacing: 20px;
   text-transform: uppercase;
   color: #2e2e2e;
   font-size: 200px;
}
.front {
   margin-top: -165px;
   font-size: 95px;
   text-transform: uppercase;
}

.sub-title {
   margin-left: 25px;
}

.behind-2 {
   font-family: 'Londrina Outline', cursive;
   letter-spacing: 20px;
   text-transform: uppercase;
   color: #2e2e2e;
   font-size: 85px;
}
.front-2 {
   margin-top: -75px;
   font-size: 45px;
   text-transform: uppercase;
   margin-left: 15px;
}

.card {
   background-color: #848484;
}

.pop-post {
   width: 95%;
}

    
  }
 
  @media only screen and (max-width: 1024px) {
    .main-container {
       display: none;
    }
    .blocked-page {
       color: black;
       display: block;
    }
    .blocked-footer {
      display: block;
     }
  }







  /* .detail-btn {
    text-decoration: none; 
    color: black;
    text-align:right;
    margin-right: 0;
} */
/* .detail-btn:hover {
    color: #48ceff;
  } */

  /* 
form .error-msg{
    margin:10px 0;
    display: block;
    background: rgb(243, 216, 218);
    color:rgb(122, 40, 44);
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 }
 */
 /*
 form .success-msg{
    margin:10px 0;
    display: block;
    background: rgb(213, 230, 222);
    color:rgb(37, 79, 53);
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
 } */


  /* a.active {
background-color: #fff !important;
color: black !important;
border: none !important;
} */